## Server Port
NODE_ENV=your-node-env-environment
PORT=your-backend-port

## Connecting DB
MONGODB_ATLAS_URI=your-mongodb-atlas-url

## Email (nodemailer)
NODEMAILER_USER_EMAIL=your-nodemailer-user-email
NODEMAILER_USER_PASSWORD=your-nodemailer-user-password

## OTP Configuration
OTP_LENGTH=
OTP_EXPIRY_MINUTES=
MAX_ATTEMPTS=
RATE_LIMIT_MINUTES=

## PASSWORD Configuration (bcrypt)
PASSWORD_BCRYPT_SALT_ROUNDS=

## JWT Configuration
## Access Token Config
JWT_ACCESS_TOKEN_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES_IN=

## Refresh Token Config
JWT_REFRESH_TOKEN_SECRET_KEY=
JWT_REFRESH_TOKEN_EXPIRES_IN=

## Device Config
MAX_DEVICES=

## Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

## GitHub OAuth Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=